<ion-header>
  <ion-toolbar>
    <ion-title>recorddata</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Select Plant</ion-label>
    <ion-select >
    <ion-select-option  *ngFor="let item of plant1 | async">{{item.name}}</ion-select-option>
  </ion-select>
  </ion-item>
  
  <!-- <ion-item *ngFor="let item of plant1 | async"> -->
    <!-- <ion-label>PH High{{item.PHHigh}} PH Low {{item.PHLow}}</ion-label> -->
    <!-- <ion-select value="0.0"> -->
      <!-- <ion-select-option value="5.5">5.5</ion-select-option>
      <ion-select-option value="5.6">5.6</ion-select-option>
      <ion-select-option value="5.7">5.7</ion-select-option>
      <ion-select-option value="5.8">5.8</ion-select-option>
      <ion-select-option value="5.9">5.9</ion-select-option>
      <ion-select-option value="6.0">6.0</ion-select-option>
      <ion-select-option value="6.1">6.1</ion-select-option>
      <ion-select-option value="6.2">6.2</ion-select-option>
      <ion-select-option value="6.3">6.3</ion-select-option>
      <ion-select-option value="6.4">6.4</ion-select-option>
      <ion-select-option value="6.5">6.5</ion-select-option> -->
    <!-- </ion-select> -->
  <!-- </ion-item> -->
  <ion-item>
    <ion-label>CF</ion-label>
    <ion-select value="0.0">
      <!-- <ion-select-option value="0.2">0.2</ion-select-option>
      <ion-select-option value="0.4">0.4</ion-select-option>
      <ion-select-option value="0.6">0.6</ion-select-option>
      <ion-select-option value="0.8">0.8</ion-select-option>
      <ion-select-option value="1.0">1.0</ion-select-option>
      <ion-select-option value="1.2">1.2</ion-select-option>
      <ion-select-option value="1.4">1.4</ion-select-option>
      <ion-select-option value="1.6">1.6</ion-select-option>
      <ion-select-option value="1.8">1.8</ion-select-option>
      <ion-select-option value="2.0">2.0</ion-select-option>
      <ion-select-option value="2.2">2.2</ion-select-option> -->
    </ion-select>
  </ion-item>
  <ion-button>Save</ion-button>
</ion-content>
